<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>board</title>
  <link rel="stylesheet" href="main.css">
</head>

<body class="grey-bg">
  <div class="white-bg">
    <h4>상세페이지</h4>
    name: <%= posts.name %><br>
    homepage: <%= posts.homepage_url %><br>
    founded date: <%= posts.founded_year %> <%= posts.founded_month %> <%= posts.founded_day %>
  </div>
</body>
</html>